In [5]:
import pandas as pd

input_path = './../../input/'

In [6]:
# import data from "Mobilität in Städten – System repräsentativer Verkehrsbefragungen (SrV) 2018"

In [7]:
modalsplit_alter = pd.read_csv(input_path + 'ModalSplit-Alter.csv')
modalsplit_alter

,Altersgruppe,Zu Fuß,Fahrrad,MIV-Fahrer,MIV-Mitfahrer,OeV,Quelle
0,0-9,0.32,0.11,0.00,0.50,0.06,Modal Split des Verkehrsaufkommens nach Alter...
1,10-19,0.22,0.19,0.09,0.27,0.23,MiD
2,20-29,0.19,0.11,0.43,0.10,0.17,Abbildung 21
3,30-39,0.20,0.10,0.53,0.08,0.09,NaN
4,40-49,0.17,0.10,0.59,0.07,0.08,NaN
5,50-59,0.18,0.10,0.57,0.07,0.08,NaN
6,60-69,0.22,0.10,0.49,0.11,0.07,NaN
7,70-79,0.28,0.11,0.40,0.14,0.08,NaN
8,80-120,0.34,0.08,0.32,0.16,0.11,NaN

In [8]:
#pkw_netto = pd.read_csv(input_path + 'PKW-nach-Haushalt-Nettoeink.csv')
pkw_netto = pd.read_excel("~/Downloads/Fahrezuge_Nettoeinkommen.xlsx")
pkw_netto

/home/anja/anaconda3/envs/quetzal_env/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,"Ausstattung privater Haushalte (Laufende\nWirtschaftsrechnungen): Deutschland, Stichtag,\nGebrauchsgüter, Haushaltsnettoeinkommensklassen",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Laufende Wirtschaftsrechnungen: Allgemeine Ang...,NaN,NaN,NaN
1,Deutschland,NaN,NaN,NaN
2,Haushaltsnettoeinkommensklassen\nErfasste Haus...,NaN,Einheit,01.01.2021
3,unter 1250 EUR,NaN,NaN,NaN
4,Erfasste Haushalte,NaN,Anzahl,913
...,...,...,...,...
100,Private Haushalte:,NaN,NaN,NaN
101,Ohne Haushalte von Selbstständigen und Landwir...,NaN,NaN,NaN
102,Haushalte mit einem monatlichen Haushaltsnetto...,NaN,NaN,NaN
103,17 895 Euro / 18 000 Euro (ab 2002) und mehr.,NaN,NaN,NaN
104,"© Statistisches Bundesamt (Destatis), 2022 | S...",NaN,NaN,NaN

In [11]:
# Planungsräume
# alter 10 Jahre Geschlecht
# modalsplit zuordnen

0       0-9
1     10-19
2     20-29
3     30-39
4     40-49
5     50-59
6     60-69
7     70-79
8    80-120
Name: Altersgruppe, dtype: object